.cast-info {
  padding: 50px;
  color: #ffff;
  &__group-title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 2rem;
    &:nth-child(1) {
      margin-top: 0;
    }
  }
  &__list {
    font-size: 1.2rem;
  }
  &__crew {
    display: flex;
    margin-bottom: 14.4px;
    li:nth-child(1) {
      margin-right: 400px;
      color: rgb(153, 153, 153);
      width: 200px;
    }
    li:nth-child(2) {
      color: rgb(200, 200, 200);
    }
  }
}
